{% extends 'base.html.twig' %}

{% block title %}Modifier la Classe{% endblock %}

{% block body %}
    <h1>Modifier la Classe</h1>

    {{ include('classes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('classes_index') }}">Retour Liste</a>

    {{ include('classes/_delete_form.html.twig') }}
{% endblock %}
